[submodule "config/dot-config/zsh/custom-plugins/zsh-autosuggestions"]
	path = config/dot-config/zsh/custom-plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "config/dot-config/zsh/custom-plugins/zsh-syntax-highlighting"]
	path = config/dot-config/zsh/custom-plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
